@using Sandbox.UI;
@namespace Bydrive
@attribute [StyleSheet]
@inherits Panel;

@if(manager == null)
{
    return;
}

<root>
    <div class="races")>
        @foreach((ChallengeDefinition challenge, ChallengeState state) in GetChallenges())
        {
            <div class="entry @UI.TagIf("complete", state == ChallengeState.Complete)" @onclick=@(() => OnClickChallenge(challenge))>
                <div class="thumbnail" />
                <label class="name">@challenge.Title</label>
            </div>
        }
    </div>
    <div class="info">
    @if (currentChallenge != null)
    {
        <div class="thumbnail" />
        <label class="name">@currentChallenge.Title</label>
        <label class="rules">@(GetTrackNames()), @(currentChallenge.GetVisibleParticipants().Count())+ Opponents</label>
        <label class="description">@currentChallenge.Description</label>

        @{
            var rewards = GetRewardLines();
        }

        @if(rewards.Any())
        {
        <div class="rewards">
            <div class="hint">Rewards:</div>
            
            @foreach(var line in rewards)
            {
                <label class="entry">@line</label>
            }
        </div>
        }
    }
    </div>
</root>