@using Sandbox.UI;
@namespace Bydrive
@attribute [StyleSheet]
@inherits Panel;

@if(manager == null)
{
    return;
}

<root>
    <div class="overlay">
        @if (currentVehicle != null)
        {
            @if (CurrentSave != null && !CurrentSave.CanUseVehicle(currentVehicle))
            {
                <label class="locked">LOCKED</label>
            }
            <div class="config">
                <label class="hint">Attachments</label>
                @foreach (var attachmentGroup in GetAttachments())
                {
                    @if (SlotAttachmentMax(attachmentGroup.Key) <= 0) continue;

                    <div class="group">
                        <label class="slot">@attachmentGroup.Key (@(SlotAttachmentCount(attachmentGroup.Key))/@(SlotAttachmentMax(attachmentGroup.Key)))</label>
                        <div class="attachments">
                            @foreach (var attachment in attachmentGroup)
                            {
                                <div class="entry @UI.ActiveIf(AttachmentActive(attachment))" @onclick=@(() => OnClickAttachment(attachment))>
                                    <label class="name">@attachment.Title</label>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div class="options">
        
        <div class="main">
            @foreach(var vehicle in ResourceLibrary.GetAll<VehicleDefinition>())
            {
                <div class="entry @UI.ActiveIf(vehicle == currentVehicle)" @onclick=@(() => OnClickVehicle(vehicle))>
                    <ModelPreviewPanel Model=@vehicle.PreviewModel CameraPosition=@vehicle.PreviewPosition/>
                    <label class="name">@vehicle.Title</label>
                </div>
            }
        </div>
        
        <div class="review">
            @if (currentVehicle != null)
            {
                <label class="title">@currentVehicle.Title</label>
                <label class="description">@currentVehicle.Description</label>
                <div class="stats">
                    <div class="group">
                        <label class="name">Speed</label>
                        <ProgressBar Value=@(0.8f) MaxValue=@(1f) />
                    </div>
                    <div class="group">
                        <label class="name">Acceleration</label>
                        <ProgressBar Value=@(0.5f) MaxValue=@(1f) />
                    </div>
                    <div class="group">
                        <label class="name">Handling</label>
                        <ProgressBar Value=@(0.65f) MaxValue=@(1f) />
                    </div>
                    <div class="group">
                        <label class="name">Swag</label>
                        <ProgressBar Value=@(1f) MaxValue=@(1f) />
                    </div>
                </div>
            }
        </div>
    </div>
</root>