@using Sandbox.UI;
@namespace Bydrive
@attribute [StyleSheet]
@inherits Panel;

@if(manager == null)
{
    return;
}

<root>
    <div class="races")>
        @foreach(var challenge in GetChallenges())
        {
            <div class="item" @onclick=@(() => OnClickChallenge(challenge))>
                <div class="thumbnail" />
                <label class="name">@challenge.Title</label>
            </div>
        }
    </div>
    <div class="info">
    @if (currentChallenge != null)
    {
        <div class="thumbnail" />
        <label class="name">@currentChallenge.Title</label>
        <label class="rules">@(currentChallenge.Track.Name), @(currentChallenge.GetVisibleParticipants().Count())+ Opponents</label>
        <label class="description">@currentChallenge.Description</label>
    }
    </div>
</root>

@code {
    RaceSetupManager manager => RaceSetupManager.Current;
    ChallengeDefinition currentChallenge => RaceSetupManager.Current?.SelectedChallenge;

    void OnClickChallenge(ChallengeDefinition challenge)
    {
        manager.SelectedChallenge = challenge;
    }

    private IEnumerable<ChallengeDefinition> GetChallenges()
    {
        if(!Story.Active)
        {
            return ChallengeDefinition.All;
        }
        else
        {
            return CurrentSave.GetUnlockedChallenges().Keys;
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(currentChallenge);
    }
}