@using Sandbox.UI;

@attribute [StyleSheet]
@namespace Bydrive
@inherits PanelComponent

<root class="@UI.ActiveIf(!string.IsNullOrEmpty(Text))">
	@if(!string.IsNullOrEmpty(Title))
	{
		<label class="title">@Title</label>
	}
	<label class="message">@GetCurrentText()</label>

	@if(ShowResponses())
	{
		<div class="responses">
			@foreach(var response in Entry.Responses)
			{
				<label class="entry @UI.TagIf("selected", response == selectedResponse)">@response.Title</label>
			}
		</div>
	}
</root>